<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "services-bar">
        <div class="find-path-service">
            <a href="find_path_service/"> find_path_service </a>
        <div class="redis_query_service">
            <a href="redis_query_service/"> redis_query_service</a>
        </div>
        <div class="referential_integrity_service">
            <a href="referential_integrity_service/"> referential_integrity_service</a>
        </div>
        <div class="graph_map_service">
            <a href="graph_map_service/"> graph_map_service</a>
        </div>
    </div>
    
</body>
</html>






